<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.seiryo.movie.dao.UserMapper">

    <!--查询全部用户-->
    <select id="queryAllUser" resultType="org.seiryo.movie.pojo.MY_USER">
        SELECT USER_ID,USER_NAME,USER_PASS FROM MY_USER
        <where>
            <if test="USER_ID != null">
                AND USER_ID =#{USER_ID}
            </if>
            <if test="USER_NAME != null">
                AND USER_NAME =#{USER_NAME}
            </if>
            <if test="USER_PASS != null">
                AND USER_PASS =#{USER_PASS}
            </if>
        </where>
    </select>

    <!-- 插入用户表 -->
    <!--插入操作后要获取生成的键-->
    <insert id="insertUser" useGeneratedKeys="true" keyProperty="USER_ID">
        INSERT INTO MY_USER
        <trim prefix="(" suffix=")" suffixOverrides=",">
            USER_NAME,USER_PASS
        </trim>
        VALUES
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="USER_NAME != null">
                #{USER_NAME},
            </if>
            <if test="USER_PASS != null">
                #{USER_PASS},
            </if>
        </trim>
    </insert>

    <!-- 插入用户详情表 -->
    <insert id="insertUserInfo">
        INSERT INTO MY_USER_INFO
        <trim prefix="(" suffix=")" suffixOverrides=",">
            USER_ID,USER_MONEY,USER_JF,USER_VIP,USER_PHONE,USER_S
        </trim>
        VALUES
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="USER_ID != null">
                #{USER_ID},
            </if>
            <if test="USER_MONEY != null">
                #{USER_MONEY},
            </if>
            <if test="USER_JF != null">
                #{USER_JF},
            </if>
            <if test="USER_VIP != null">
                #{USER_VIP},
            </if>
            <if test="USER_PHONE != null">
                #{USER_PHONE},
            </if>
            <if test="USER_S != null">
                #{USER_S},
            </if>
        </trim>
    </insert>


</mapper>
